
@import 'reset.css';


@fondo: #C6C8CA;
@azul: #00AEEF;
@azulclaro: #D4E8EF;
@noazul: #003460;
@noazulclaro: #7F99AF;

html, body {
    background-color: @fondo;
}

/** LAYOUT **/

#main {width: 100%; overflow: hidden; padding: 1em 0;}
#main > div {float: left;}
#browser {width: 23%; margin-left: 2%;
          font-size: 70%; font-family: Verdana;
          border: 1px solid black; background-color: white; }
#page {width: 49%; margin: 0 2%; }
#main #properties { width: 20%;
                    color: white; background-color: @azul;
}

.body {padding: 1em;
       background-color: white; border: 1px solid black;}
.panel {padding: 1em;}

ul.doclist {padding: 1em;}

#properties {font-size: 70%; font-family: Verdana;}
#properties .actions {padding: 1em;}
#properties a {color: white;}

/** HANDLERS **/
.handlers {width: 100%; overflow: hidden;}
.handlers li {display: block; float: left; padding: 0.2em 1em; margin: 0.3em 0.5em 0.3em 0;
    cursor: move;
    background-color: @azul; color: white;
}

ul.document > li {width: 100%; overflow: hidden; margin-bottom: 1px; border-left: 4px solid @azulclaro;}
.slot { display: block; font-size: 0px; height: 2px; width: 50%; margin: 2px auto;
    background-color: white; border: 1px solid white;}
.slot.ready {background-color: @azulclaro;}
.slot.active {border-color: @azul;}
.sortme {display: block; overflow: hidden; float: left; width: 0.3em; height: 1.2em;
   text-indent: -1000px; margin-right: 0.5em;
   background-color: @azulclaro;}

/** FORMS **/
form {padding: 1em; }
form li {list-style-type: none;}
form * {float: none; margin: 0; padding: 0em;}
form label {display: block; }
form input {margin-top: 0.2em;}
form input[type=text], form textarea {display: block; width: 98%; padding: 2px;
                                      color: white; background-color: @azul; border: 1px solid white;}
form textarea {height: 5em;}

/** BODY **/
.body h1 {font-size: 200%;}
