<div class="page">
  <% div_for @document do %>
  <h1><%= @document.title %></h1>
  <span id="loc-first" class="slot">&nbsp;</span>
  <ul class="clips">
    <% @document.clips.each do |clip| -%>
      <li id="clip-<%= clip.id %>">
        <%= clip.body %>
        <span id="loc-last" class="slot">&nbsp;</span>
      </li>
    <% end -%>
  </ul>
  <% end %>
</div>