<li class="summary">
  <h1><%= link_to summary.title, summary, :class => atag(summary, :title) %></h1>
  <p class="<%= atag(summary, :description) %>"><%= summary.description %></p>
  <ul class="properties">
    <li><label>Modificado</label> <span class="time_ago"><%= summary.updated_at.to_i %></span></li>
  </ul>
</li>
